---
import Section from './Section.astro';
import { Picture } from '@astrojs/image/components';
import { aboutParagraph } from 'data/about';

const numbers = [
  {
    number: '400+',
    description: 'Exemplo',
    descriptionEn: 'example',
  },
  {
    number: '600%',
    description: 'Exemplo',
    descriptionEn: 'example',
  },
  {
    number: '10k',
    description: 'Exemplo',
    descriptionEn: 'example',
  },
  {
    number: '200+',
    description: 'Exemplo',
    descriptionEn: 'example',
  },
];
---

<Section className="bg-[#000C46]" id="about">
  <div class="container">
    <div
      class="flex flex-col xl:flex-row-reverse gap-x-16 xl:mb-16 items-center"
    >
      <Picture
        src="/images/dr-rafael.png"
        format="webp"
        alt="Foto do Dr Rafael"
        quality={95}
        widths={[576, 480, 448, 372]}
        sizes="(max-width: 640px) 372px, (max-width: 768px) 480px, (max-width: 1024px) 576px, (max-width: 1280px) 448px, 576px"
        aspectRatio={0.795}
        class="lg:min-w-[448px] xl:min-w-[576px] px-12 md:px-0"
      />
      <div>
        <h2
          class="text-white text-4xl font-bold leading-[44px] uppercase font-title tracking-[-0.72px] mb-5"
        >
          <span class="pt-BR">
            sobre a <span class="text-[#FF3158] underline">RD medicine</span>
          </span>
          <span class="en">
            about <span class="text-[#FF3158] underline">RD medicine</span>
          </span>
        </h2>
        <article
          class="text-gray-300 leading-6 md:leading-[30px] font-normal md:text-xl space-y-3"
        >
          {
            aboutParagraph.map(({ paragraph, paragraphEn }) => (
              <p>
                <span class="pt-BR">{paragraph}</span>
                <span class="en">{paragraphEn}</span>
              </p>
            ))
          }
        </article>
      </div>
    </div>
    <div class="pt-12 md:py-20 xl:py-24">
      <h2
        class="text-white text-4xl font-semibold leading-[44px] tracking-[-0.72px] mb-8 md:mb-9 lg:mb-16"
      >
        <span class="pt-BR"> Estamos apenas começando...</span>
        <span class="en"> we are just getting started</span>
      </h2>
      <div
        class="grid grid-cols-2 gap-4 lg:w-full lg:flex lg:justify-between lg:max-w-[1200px]"
      >
        {
          numbers.map(({ number, description, descriptionEn }) => (
            <div class="flex flex-col gap-y-3">
              <span class="text-6xl font-semibold leading-[1.2] tracking-[-1.2px] text-[#FF3158]">
                {number}
              </span>
              <span class="text-lg leading-7">
                <span class="pt-BR">{description}</span>
                <span class="en">{descriptionEn}</span>
              </span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Section>
