---
import { Image } from '@astrojs/image/components';
import Carousel from './CarouselScreen.astro';
import Section from './Section.astro';
import { carouselTeamButtons, carouselTeamItems } from 'data/carousel';
---

<Section className="bg-[#000C46]" id="team">
  <div class="container flex justify-between flex-col sm:flex-row gap-y-8">
    <h2
      class="font-bold font-title text-2xl sm:text-4xl uppercase relative ml-3 sm:ml-0"
    >
      <span class="pt-BR">
        Nossa equipe de <span
          class="text-[#FF3158] underline text-3xl sm:text-4xl"
          >especialistas</span
        >
      </span>
      <span class="en">
        Our team of <span class="text-[#FF3158] underline text-3xl sm:text-4xl"
          >specialist</span
        >
      </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="80"
        viewBox="0 0 80 80"
        fill="none"
        class="hidden lg:block absolute top-5 left-4 transform -translate-x-1/2 -translate-y-1/2"
      >
        <circle cx="3" cy="3" r="3" fill="#1E3BDE"></circle>
        <circle cx="40" cy="3" r="3" fill="#1E3BDE"></circle>
        <circle cx="77" cy="3" r="3" fill="#1E3BDE"></circle>
        <circle cx="3" cy="40" r="3" fill="#1E3BDE"></circle>
        <circle cx="3" cy="77" r="3" fill="#1E3BDE"></circle>
        <circle cx="40" cy="77" r="3" fill="#1E3BDE"></circle>
        <circle cx="77" cy="77" r="3" fill="#1E3BDE"></circle>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="120"
        viewBox="0 0 80 120"
        fill="none"
        class="lg:hidden absolute top-8 sm:top-10 -left-4 -translate-y-1/2"
      >
        <circle cx="3" cy="3" r="3" fill="#1E3BDE"></circle>
        <circle cx="40" cy="3" r="3" fill="#1E3BDE"></circle>
        <circle cx="77" cy="3" r="3" fill="#1E3BDE"></circle>
        <circle cx="3" cy="60" r="3" fill="#1E3BDE"></circle>
        <circle cx="3" cy="117" r="3" fill="#1E3BDE"></circle>
        <circle cx="40" cy="117" r="3" fill="#1E3BDE"></circle>
        <circle cx="77" cy="117" r="3" fill="#1E3BDE"></circle>
      </svg>
    </h2>
    <div class="flex gap-x-8 self-end sm:self-auto">
      {
        carouselTeamButtons.map(({ label, icon }, index) => (
          <button
            id={`carousel-team-button-${index}`}
            class="flex items-center justify-center w-14 h-14 border border-white rounded-full"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
            >
              <path
                d={icon}
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span class="sr-only">{label}</span>
          </button>
        ))
      }
    </div>
  </div>
  <Carousel id="teamCarousel" spacing="gap-x-8">
    {
      carouselTeamItems.map(({ img, title, description, descriptionEn }) => (
        <div class="flex flex-col gap-y-6 items-stretch bg-[#000C46]">
          <Image
            class="max-w-none"
            src={`/images/specialists/${img}.png`}
            alt={`Foto de ${title.replace(/,.*$/, '')}`}
            width={280}
            height={296}
            quality={100}
            format="webp"
          />
          <p class="text-xl font-semibold">{title}</p>
          <p class="text-gray-400">
            <span class="pt-BR">{description}</span>
            <span class="en">{descriptionEn}</span>
          </p>
        </div>
      ))
    }
  </Carousel>
</Section>
<script>
  import initCarousel from 'utils/carousel';
  import { carouselTeamButtons } from 'data/carousel';
  initCarousel({
    buttonSelectors: carouselTeamButtons.map(
      (_, index) => `#carousel-team-button-${index}`,
    ),
    carouselSelector: '#teamCarousel',
  });
</script>
